* {
    padding: 0;
    margin: 0;
    font-family: "Gugi";
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #04AA6D;
    color: white;
}

h2 {
    font-size: 20px;
    text-align: center;
    padding: 20px 20px;
}

.title {
    text-align: center;
    margin-top: 20px;
}

hr {
    margin-top: 50px;
}

.form {
    margin-top: 50px;
    text-align: center;
}

.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

input[type="file"] {
    display: none;
}

.labelxlsx {
    background-color: white;
    border: 2px solid #04AA6D;
    text-align: center;
    width: 500px;
    height: 40px;
    padding-top: 20px;
}

.button-div {
    margin-top: 20px;
}

.button {
    cursor: pointer;
    background-color: #04AA6D;
    border: 0.2em;
    border-radius: 10em;
    height: 4em;
    width: 10em;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    color: white;
    margin-left: 20px;
}

p {
    text-align: center;
}

.btn {
    cursor: pointer;
    background-color: #04AA6D;
    border: 0.2em;
    border-radius: 10em;
    height: 4em;
    width: 10em;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    color: white;
    position: fixed;
    float: top;
    right: 20px;
    bottom: 20px;
    z-index: 100;
}

#number {
    background-color: white;
    border: 2px solid #04AA6D;
    text-align: center;
    width: 500px;
    height: 40px;
    padding-top: 5px;
}

#custom_message {
    font-size: 20px;
    background-color: white;
    border: 2px solid #04AA6D;
}

::placeholder {
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
}

#message {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.message-p {
    text-align: center;
    background-color: white;
    border: 2px solid #04AA6D;
    width: 500px;
    height: 40px;
    padding-top: 20px;
}